body {
  padding: 0.5em; 
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
}

.header {
  background: red;
  text-align: center;
}

.main {
  display: flex;
  background: deepskyblue;
  flex-flow: column wrap;
  justify-content: space-evenly;
  min-height: 500px;
}

.article {
  display: flex;
  background-color: grey;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 5px;
  padding: 5px;
}

.section {
  background-color: burlywood;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
  flex: 1;
  text-align: center;
}

.footer {
  display: flex;
  background-color: #f1f1f1;
  flex-flow: row wrap;
  margin: 5px;
  padding: 5px;
  flex: 1;
}

.footer-section {
  background-color: burlywood;
  flex-flow: column wrap;
  margin: 5px;
  padding: 5px;
  flex: 1;
  text-align: center;
}